@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* 1. color */
  --color-background: oklch(1 0 0);             /* white    */
  --color-foreground: oklch(0.2 0 0);           /* gray-700 */
  
  --color-background-elevated: oklch(1 0 0);    /* white */

  --color-primary: oklch(0.62 0.21 260);        /* blue-500 */
  --color-primary-foreground: oklch(1 0 0);     /* white */

  --color-muted: oklch(0.6 0 0);                /* gray-400 */
  --color-muted-foreground: oklch(0.55 0 0);

  --color-accent: oklch(0.96 0 0);
  --color-accent-foreground: oklch(0.2 0 0);
  
  --color-border: oklch(0.87 0.01 260);         /* gray-200 */
  --color-scrollbar: oklch(0.87 0.01 260);      /* gray-300 */
  --color-scrollbar-hover: oklch(0.7 0.01 260); /* gray-400 */
  --color-ring: oklch(0.62 0.21 260);           /* primary */

  /* 2. Rounded Corner   */
  --radius-lg: 0.5rem;                          /* rounded-lg */
  --radius-xl: 1rem;                            /* rounded-2xl */
  --radius-full: 9999px;                        /* rounded-full */

  /* 3. shadow */
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  --shadow-elevated: 0 10px 15px -3px rgb(253 230 138 / 0.3); /* amber-50 */

  /* 4. Type  */
  --size-icon-button: 2rem;                     /* h-8 w-8 */
  --height-textarea-max: 8rem;                  /* max-h-32 */
  --height-dropdown-max: 16rem;                 /* max-h-64 */

  /* 5. Motion  */
  --duration-normal: 300ms;

  /* 6. Spacing */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;   /* py-2 */
  --spacing-4: 1rem;     /* px-4, gap-4 */
}

.dark {
  @theme {
    --color-background: oklch(0.15 0.01 260);
    --color-foreground: oklch(0.9 0 0);
    --color-background-elevated: oklch(0.13 0 0);
    --color-border: oklch(0.3 0.01 260);
    
    --color-accent: oklch(0.26 0 0);
    --color-muted: oklch(0.65 0 0);
    --color-muted-foreground: oklch(0.65 0 0);

    --color-scrollbar: oklch(0.26 0 0);
    --color-scrollbar-hover: oklch(0.4 0 0);
    
    --shadow-elevated: 0 10px 15px -3px rgb(0 0 0 / 0.5), 0 0 0 1px oklch(1 0 0 / 0.05);
  }
}


@layer components {
  .bg-primary-hover {
    background-color: color-mix(in oklab, var(--color-primary) 90%, transparent);
  }
    .custom-scrollbar {
    scrollbar-gutter: stable;
    
    &::-webkit-scrollbar {
      width: 0.375rem;  /* w-1.5 */
    }
    
    &::-webkit-scrollbar-thumb {
      border-radius: 9999px;
      cursor: auto;
      background-color: var(--color-scrollbar);
      
      &:hover {
        background-color: var(--color-scrollbar-hover);
      }
    }
    
    &::-webkit-scrollbar-track {
      margin-top: var(--spacing-3);
    }
  }
}