name: Semifold CI
on:
  push:
    branches: [main]

permissions:
  contents: write
  pull-requests: write

jobs:
  status:
    name: Version or Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Cache rust artifacts
        uses: Swatinem/rust-cache@v2
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v6
        with:
          registry-url: 'https://registry.npmjs.org'
          node-version: 22
          cache: 'pnpm'
      - name: Install Semifold
        run: cargo install semifold
      - name: Install dependencies
        run: pnpm install
      - name: Semifold CI
        run: semifold ci
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }} 
